# ========== 核心模組 ==========
python-dotenv==1.1.0

# ========== 向量處理 ==========
numpy==2.2.4

# ========== PDF 處理 ==========
PyMuPDF==1.25.5  # fitz

# ========== 進度顯示 ==========
tqdm==4.67.1

# ========== UI 與展示 ==========
streamlit==1.44.1
matplotlib==3.10.1
